<h1> Dashboard statistics </h1>
<span> (Hardcoded) </span>

<mat-grid-list cols="2" rowHeight="100" gutterSize="10px">
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-content class="dashboard-card-title">
                <mat-icon>mail</mat-icon>
                <span> Emails sent</span>
                <h2 class="dashboard-card-value"> 19 </h2>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-content class="dashboard-card-title">
                <mat-icon>person</mat-icon>
                <span> Recipients</span>
                <h2 class="dashboard-card-value"> 5 </h2>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>